@import '../../../styles/settings.scss';

.cardArticle { 
margin: 10px 0;
}

.cardTitle {
    font-weight: 600;
    font-size: 28px;
}
.bold {
    font-weight: 700;
}
.author {
    margin: 0;
    padding: 0;

}

.description {
    margin: 15px 0;
}

.but {
padding: 0;
margin: 0;
}

a.butLink {
    color: $color-light;
    padding: 0;
    margin: 0;
    &:hover {
        color: $color-light;
    }
}