.longTextarea {
    height: 230px;
}



.smallerForm {
    width: 80%;
    max-width: 600px;
    min-width: 400px;
    margin: 30px auto;
}

.smallInput, .form-control {
    width: 70px;
    display: inline;
    margin: 0 10px;
}

