.longTextarea {
    height: 230px;
}



.smallerForm {
    width: 80%;
    max-width: 600px;
    min-width: 400px;
    margin: 30px auto;
}

.smallInput {
    width: 70px!important;
    display: inline!important;
    margin: 5px 10px;
}

.bill {
    width: 200px!important;
    display: inline!important;
    margin: 5px 10px;
}

